################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWT/FirstEXER/.vs/FirstEXER/v16/Server/sqlite3
