################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWT/FirstEXER/.vs/FirstEXER/v16/Server/sqlite3
/SWT/FirstEXER/FirstEXER/obj
/SWT/FirstEXER/FirstEXER/bin/Debug/netcoreapp3.1
/SWT/FirstEXER/Calculator.Test.Unit/obj/Debug/netcoreapp3.1
/SWT/FirstEXER/Calculator.Test.Unit/obj
/SWT/FirstEXER/Calculator.Test.Unit/bin/Debug/netcoreapp3.1
SWT/FirstEXER/.vs/FirstEXER/v16/TestStore/0/001.testlog
SWT/FirstEXER/.vs/FirstEXER/DesignTimeBuild/.dtbcache.v2
SWT/FirstEXER/.vs/FirstEXER/v16/.suo
SWT/FirstEXER/.vs/FirstEXER/v16/TestStore/0/000.testlog
